@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary-yello: hsl(47, 88%, 63%);
  --Mobile-width: 375px;
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: "Figtree", sans-serif;
  font-size: small;
  font-weight: 600;
  font-style: normal;

  background-color: var(--primary-yello);
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 12rem;
  max-width: 18rem;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px;
  background-color: var(--White);

  padding: 0px 20px;
}
.container > * {
  margin: 20px 0px;
}

.card-header > img {
  border-radius: 10px;
  width: 100%;
}

.badge {
  font-size: small;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: var(--primary-yello);
}
.publication {
  display: block;
  font-weight: 500;
  font-size: x-small;
}

.card-title {
  font-size: large;
  font-weight: 800;
}

.card-content {
  font-size: small;
  color: var(--Grey);
  line-height: 1.2rem;
}

.card-footer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.card-footer > span {
  font-weight: bolder;
}
